*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#0f1020;
    overflow:hidden;
    color:white;
}

.container{
        display:flex;
        width:100%;
        height:100%;
}

.sidebar{
    width:15%;
    height:100vh;

    background:linear-gradient(
        180deg,
        #1d1f39,
        #151628
    );

    padding:30px 20px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    border-right:1px solid rgba(255,255,255,0.05);
}

.logo h1{
    color:#52ffbe;
    font-size:42px;
    margin-bottom:10px;
}

.logo p{
    color:#aaffd7;
    line-height:1.5;
}


.menu{
    margin-top:50px;
}

.menu ul{
    list-style:none;
}

    .menu li{
        padding:18px;
        margin-bottom:15px;

        border-radius:18px;

        border:1px solid rgba(255,255,255,0.15);

        cursor:pointer;

        transition:0.3s;
    }

.menu li:hover{
    background:#52ffbe;
    color:#111;

    border-color:#52ffbe;

    transform:translateX(5px);

    box-shadow:0 0 15px rgba(82,255,190,0.35);
}

.active{
    background:rgba(82,255,190,0.12);
    border-color:#52ffbe !important;
    color:#52ffbe;
}


.logout{
    height:55px;

    border:none;

    border-radius:16px;

    background:transparent;

    border:1px solid rgba(255,255,255,0.2);

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:0.3s;
}

.logout:hover{
    background:#52ffbe;
    color:#111;
}

.content{
    flex:1;

    padding:30px 40px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    gap:15px;

    overflow:hidden;
}


.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.user{
    display:flex;
    align-items:center;
    gap:15px;
}

.user h3{
    color:#52ffbe;
}

.user p{
    color:#d0d0d0;
}

.avatar{
    width:60px;
    height:60px;

    border-radius:50%;

    border:2px solid #52ffbe;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:28px;

    color:#52ffbe;
}

.welcome h2{
    font-size:54px;
    color:#52ffbe;
}

.welcome p{
    margin-top:10px;
    font-size:24px;
    color:#d0d0d0;
}


.cards{
    display:grid;

    grid-template-columns:repeat(3, 1fr);

    gap:25px;
}

.card{
    background:#1d1f38;

    border-radius:28px;

    padding:30px;

    text-align:center;

    transition:0.3s;

    border:1px solid rgba(255,255,255,0.06);
}

.card:hover{
    transform:translateY(-5px);

    box-shadow:0 0 20px rgba(82,255,190,0.2);
}

.icon{
    width:100px;
    height:100px;

    margin:0 auto 20px;

    border-radius:50%;

    background:rgba(255,255,255,0.04);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:45px;

    color:#52ffbe;
}

.card h3{
    margin-bottom:10px;
    font-size:30px;
}

.card p{
    color:#cfcfcf;
    line-height:1.6;
    font-size:16px;
}

footer{
    text-align:center;
    color:#8d8d8d;
    font-size:15px;
}


    .profile-card{
    background:#1d1f39;

    border-radius:30px;

    padding:20px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    }

    .profile-left{
        display:flex;
        align-items:center;
        gap:30px;
    }

    .profile-left img{
      width:120px;
      height:120px;

      border-radius:50%;

      border:3px solid #52ffbe;

      object-fit:cover;
    }

    .profile-info span{
        color:#bbbbbb;
    }

    .profile-info h3{
      font-size:38px;
      margin:5px 0 20px;
    }

    .profile-info p{
        font-size:22px;
        color:#d0d0d0;
    }

    .profile-right{
        display:flex;
        align-items:center;
        gap:20px;
    }

    .points-icon{
        width:110px;
        height:110px;

        border-radius:50%;

        border:1px solid #52ffbe;

        display:flex;
        justify-content:center;
        align-items:center;

        font-size:50px;

        color:#52ffbe;
    }

    .profile-right h2{
        font-size:60px;
        color:#52ffbe;
    }

    .profile-right p{
        color:#d0d0d0;
        font-size:22px;
    }


    .stats-grid{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        gap:20px;
    }

    .stat-card{
      background:#1d1f39;

      border-radius:24px;

      padding:20px;

      text-align:center;
    }

    .stat-icon{
        width:90px;
        height:90px;

        margin:0 auto 20px;

        border-radius:50%;

        display:flex;
        justify-content:center;
        align-items:center;

        font-size:40px;
    }

    .fire{
        border:1px solid #ff5e5e;
        color:#ff5e5e;
    }

    .blue{
        border:1px solid #4dc3ff;
        color:#4dc3ff;
    }

    .yellow{
        border:1px solid #ffd54d;
        color:#ffd54d;
    }

    .green{
        border:1px solid #52ffbe;
        color:#52ffbe;
    }

    .stat-card h2{
        font-size:34px;
    }

    .stat-card h3{
        font-size:24px;
        margin:10px 0;
    }

    .stat-card p{
        color:#cfcfcf;
    }


    .bottom-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:20px;
    }

    .bottom-card{
      background:#1d1f39;

      border-radius:24px;

      padding:20px;
    }

    .bottom-card h3{
        color:#52ffbe;
        font-size:32px;
        margin-bottom:15px;
    }

    .bottom-card p{
        color:#d0d0d0;
        line-height:1.7;
    }

    .progress-bar{
        width:100%;
        height:15px;

        background:#2a2c4d;

        border-radius:20px;

        margin:20px 0;
    }

    .progress{
        width:80%;
        height:100%;

        background:#52ffbe;

        border-radius:20px;
    }

       .bottom-grid{
    margin-bottom:10px;
    }

@media(max-width:1200px){

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:900px){

    body{
        overflow:auto;
    }

    .container{
        flex-direction:column;
        height:auto;
    }

    .sidebar {
    width: 280px;
    background: linear-gradient(180deg, #1d1f39, #151628);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    }

    .cards{
        grid-template-columns:1fr;
    }

    .welcome h2{
        font-size:40px;
    }

}

.menu a{
    color:inherit;
    text-decoration:none;
    display:block;
}

.menu li a{
    padding:0; /* a li já tem padding */
}